*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {

    height: auto;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    
}

#grid-frame {
    width: auto;
    margin-bottom: 50px;
}

#aboutme-text {
    width: 60vw;
    height: 10vh;

    font-size: 16pt;
    color: var(--accent-green);
}

.grid {

    display: grid;
    /* grid-template-columns: repeat(3, calc(((100vw - 4rem)/3)));  */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, 350px);
    /*  grid-template-rows: 1fr 1fr; */

    grid-template-rows: auto;
    grid-gap: 2rem;

    margin: 1rem 0;
    padding: 0 1rem;

    justify-content: center;

}

.item-wrapper {
    position: relative;
    overflow: hidden;
}

.item-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

    border-radius: 10px;
}

.item-wrapper > .label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* inset:0 = top:0 / left:0 / right:0  */
    inset: 0;
    font-size: 1.6rem;
    padding: 1rem;

    background: rgba(255, 255, 255, .4);
    color: black;
    font-weight: 600;

    text-align: justify;

    border-radius: 10px;

    padding: 20px;

}

/* Helper */
#italic {
   font-style: italic; 
}

#bold {
    font-weight: 800;
}


/* Effekts */

.item-wrapper > img,
.item-wrapper > .label {
    transition: 0.2s ease-in-out;
}

/* class: fade on label- ausbleichen */
/* Bild bleicht aus - Text blendet ein */
.item-wrapper > .label.fade {
    opacity: 0;
}
.item-wrapper:hover > .label.fade {
    opacity: 1;
}

/* class: blur on image- Bild wird unscharf */
.item-wrapper:hover > img.blur {
    filter: blur(15px);
}

/* class: zoom on image- Bild wird vergroessern */
.item-wrapper:hover > img.zoom {
    transform: scale(1.1);
}

/* slide from different dirctions */
.item-wrapper > .label.slide-left {
    transform: translateX(-100%);
}

.item-wrapper:hover > .label.slide-left{ 
    transform: translateX(0);
}

.item-wrapper > .label.slide-right {
    transform: translateX(100%);
}

.item-wrapper:hover > .label.slide-right {
    transform: translateX(0);
}

.item-wrapper > .label.slide-up {
    transform: translateY(100%);
}

.item-wrapper:hover > .label.slide-up {
    transform: translateY(0);
}

.item-wrapper > .label.slide-down {
    transform: translateY(-100%);
}

.item-wrapper:hover > .label.slide-down {
    transform: translateY(0);
}

/* Media Queries */

@media screen and (max-width: 1279px) {
    .grid {
        grid-template-columns: repeat(3, 250px);
    }

    #right-pro .content img {
        transform: scale(0.5);
    }

    #right-pro #home-icon {
        font-size: 3.5rem;
    }
}



/* 769 - 1279	larger Tablets in landscape, Laptops, */

@media screen and (max-width: 769px) {
    .grid {
        grid-template-columns: repeat(1, 250px);
    }

    main {
        height: auto;
    }

    #aboutme-text {
        height: auto;
        text-align: center;
    }

    #right-pro #home-icon {
        font-size: 2.5rem;
    }

    #right-pro #hexa-nav {
        display: none;    
    }
}