*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contact-text {
    height: 10vh;
    width: 50%;
    margin: 0 auto;
    font-size: 18pt;
    color: var(--accent-green);
}

#txt-input-street, #txt-input-zipcode, #tel-input-phone {
    margin-right: 5%;
}

#contact-section {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

#contact-section form {
    font-size: 18pt;
    width: 100%;
    height: 100%;
}

#contact-section form legend {
    font-size: 26pt;
    font-weight: 600;
    padding: 0.3em;
}

/* Submit-Button ausrichten */
#button{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#submit {
    color: black;
    border: 2px solid var(--text);
    font-size: 12pt;
}

#field1, #field2, #field3, #field4 {
    text-align: start;
    width: 20%;
    margin-left: 20px;
}

#field1, #field2, #field3, #field4 {
    text-align: start;
    width: 20%;
    margin-left: 20px;
}

#field3, #field4 {
    display: flex;
    width: 90%;
}

#fieldset-personal-data {
text-align: center;
}

#fieldset-personal-data label {
    font-weight: 800;
}

/* Umrandung für alle inneren fieldsets entfernen */
#fieldset-personal-data fieldset {
    border: none;
    margin-right: 15px;
}

#fieldset-personal-data > fieldset {
    margin: 15px;
}

/* Helper */
#submit {
    background-color: var(--accent-green);
    border-radius: 10px;
    width: 40%;
}

#button {
    border: none;
}

/* Kennzeichnung als Pflichtfelder -kleine rote Sternchen */
.dot {
    display: inline;
    margin: 0px;
    color: red;
}

textarea {
    resize: none;
    width: 95%;
    background-color: lightgray;
    margin-bottom: 20px;

}
input {
    padding: 0.5em;
    background-color: lightgray;
    text-align: center;
}

/* ------------------------------------------ */
/* --------------Media Queries--------------- */
/* ------------------------------------------ */
@media screen and (max-width: 768px) {
    #right-pro #hexa-nav {
        transform: scale(0.5);
        top: -5px;
    }
}

@media  screen and (max-width: 600px) {
    #right-pro #hexa-nav {
        display: none;
    }
    main #contact-section #fieldset-personal-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    #field3, #field4 {
        display: block;
        margin: 0;
        width: 40%;
    }
    input {
        width: 250px;
    }
    #contact-text {
        font-size: 12pt;
        margin-bottom: -50px;
    }
    #button {
        display: flex;
        justify-content: center;
        position: absolute;
        margin: 40px 0px 420px 0px;
        width: 100%;
        height: 60px;
        transform: scale(1.4);
    }
    #home-icon {
        transform: scale(0.7);
    }
    #contact-section {
        width: 95%;
        height: 100vh;
    }
    #fieldset-personal-data fieldset {
        margin: 0px;
    }
    #contact-section form {
        font-size: 18pt;
        width: 100%;
        height: 900px;
    
    }
}

@media screen and (max-width: 320px) {
    body {
        width: 100%
    }
}




