*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hexa-nav {
    position: relative;
    /* Abstand nach oben */
    top: -25px;
    transform: scale(0.5);
}

/* UK */ 
#language-selection-nav:target>.menu-item:nth-child(5) {
    transform: rotate(45deg) translateY(180px) rotate(-45deg);
    transition-delay: 0.4s;
}

/* Spanien */
#language-selection-nav:target>.menu-item:nth-child(3) {
    transform: rotate(-2deg) translateY(185px) rotate(2deg);
    transition-delay: 0.2s;
}

/* Polen */
#language-selection-nav:target>.menu-item:nth-child(4) {
    transform: rotate(-48deg) translateY(190px) rotate(48deg);
    transition-delay: 0s;
}

#language-selection-nav:not(:target)>a:first-of-type,
#language-selection-nav:target>a:last-of-type {
    opacity: 1;
    z-index: 1;
}

#language-selection-nav:not(:target)>.icon-plus:before,
#language-selection-nav:target>.icon-minus:before {
    opacity: 1;
}

#language-selection-nav {

    background-color: transparent;

    width: 130px;
    height: 130px;
    position: relative;
    left: -3rem;
    top: 0;
    margin: -75px 0 0 -75px;
    list-style: none;
}