*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#project-text {
    grid-area: text;

    line-height: 1.7;
    align-self: center;
    text-align: justify;
    font-size: 16pt;
    color: var(--accent-green);
}



#projects-thumbnail-grid {
    width: 80vw;
    display: grid;
    grid:
    "text project1 project2" 230px
    "text project3 project4" 230px
    "text project5 project6" 230px
    / 1fr 3fr 3fr;

    gap: 4vh;
    padding: 15px;
}

#pro1 {
    grid-area: project1;
}

#pro2 {
    grid-area: project2;
}

#pro3 {
    grid-area: project3;
}

#pro4 {
    grid-area: project4;
}

#pro5 {
    grid-area: project5;
}

#pro6 {
    grid-area: project6;
}

#projects-thumbnail-grid > .thumbnail p{
    font-size: 16pt;
    text-align: center;
    margin: 15px auto;
}

#projects-thumbnail-grid > .thumbnail video {
    width: 100%;
    height: 100%;
} 

#projects-thumbnail-grid iframe {
    width: 200px;
    height: 100%;
} 

@media screen and (max-width: 1200px) {
    #projects-thumbnail-grid {
        width: 80vw;
        display: grid;
        grid:
        "text project1 project2" 200px
        "text project3 project4" 200px
        "text project5 project6" 200px
        / 2fr 3fr 3fr;
    
        gap: 4vh;
        padding: 15px;
    }
}

@media screen and (max-width: 780px) {
    #projects-thumbnail-grid {
        width: 90vw;
        display: grid;
        grid:
        "text text  " 200px
        "project1 project2" 200px
        "project3 project4" 200px
        "project5 project6" 200px
        / 1fr 1fr ;
    
        gap: 4vh;
        padding: 15px;
    }

    #right-pro #hexa-nav {
        display: none;
    } 
}

@media screen and (max-width: 480px) {
    #project-text{
        font-size: 12pt;
    }

    #home-icon {
        transform: scale(0.7);
    }

    #projects-thumbnail-grid {
        display: block;
    }
}
