*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;800&family=Roboto:ital,wght@0,400;0,500;0,900;1,900&display=swap");

:root {
  /*Die Formel zur Berechnung der Hexagone lautet: 
    2*(1/(2*tan(pi/6))) 
    = 1.7320508075688772935274463415058723669428052538103806280558069794*/

  /* ---Size--- */
  --x: 100px;
  --y: calc(
    var(--x) *
      1.7320508075688772935274463415058723669428052538103806280558069794
  );
  font-size: 62.5%;
  font-family: "Roboto";
  color: var(--text);

  /* Schriftgroessen */
  --norm-text: 17pt;
  --h1: 25pt;
  --h2: 35pt;
  --h3: 22pt;

  /* Links zu **relevanten** Social-Media Accounts*/
  --icon-size: 7rem;
  --home_icon-size: 30px;
  /* ---Margin-hexagon--- */
  --top: 60px;
  --right: 50px;
  --bottom: 15px;
  --left: 55px;
  /* ---Margin-hexagon-BIG-- */
  --topB: 55px;
  --rightB: 70px;
  --bottomB: 0px;
  --leftB: 60px;
  /* ---Margin-hexagon-SMALL-- */
  --topS: 0px;
  --rightS: 50px;
  --bottomS: 60px;
  --leftS: 50px;

  /* ALL COLORS */
  --background: #8f8989;
  --honeycomb: #333131;
  --text: /* #08B9FF */ rgb(251, 245, 245);
  --hexa-big-text: rgb(251, 245, 245);
  --hover-color: #513722;
  --social_media: rgb(251, 245, 245);
  --home_icon-color: rgb(251, 245, 245);
  --drop-lang-select-color: rgb(251, 245, 245);

  /* Headline */
  --h1-color: var(--main-blue);
  --h2-color: var(--main-blue);
  --h3-color: var(--main-blue)f;

  /* Original color from globe: #43cb8e */
  --accent-green: #6df2a7;
  --main-blue: #08b9ff;
}




.canvas {
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

.displayNone{
  display: none;
}

/** Header - Start */
.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(51, 49, 49, 0.3);

}

header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

}

/* Headline-Bereich */
header .middle {
  float: left;
  display: flex;
  justify-content:center;
  align-items: center;
  width: calc(100% - 300px);
  cursor: default;

}

.gradient-text{
  /* background-image: linear-gradient(90deg, rgb(69, 69, 253), rgb(129, 26, 26));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  font-size: 4rem;
  /* background-clip: text; */
  /* text: transparent; */
}

/* Bürger-Menü-Button-Bereich */
header .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  width: 150px;

}



/** Header - Ende */

/* !Dropdown - Start */
/* KlickArea des Dropdowns */
.menu-field .content {
  height: 100%;
  width: 180%;
  border-radius: 50%;
}
/* Soll auf großen Displays versteckt sein */
.menu-field {
  display: none;
}
.menu-field.show {
  display: flex;
  justify-items: center;
  margin: auto;
  height: calc(var(--x) * 1.1);
  width: 100%;
  padding-top: 3px;
  text-align: center;
}
/* Die Sprachauswahl in Dropdown */
.second-level-dropdown {
  display: none;
}
/* Doppelt so großes Feld, wenn Flaggen ausgefahren werden */
.menu-field.show-drop {
  height: calc(var(--x) * 2.2);
}
/* Anordnung der Flaggen */
.second-level-dropdown.show-drop {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  left: -8px;
  top: 80%;
  width: 90vw;
}
#dropdown-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* U.a.: Farbe der Schrift auf der Weltkugel im dropdown */
#dropdown-wrapper p {
  position: absolute;
  z-index: 1000;
  color: var(--drop-lang-select-color);
}
#world-pic-im-dropdown {
  margin-left: 3px;
  width: 80%;
  z-index: 110;
}
/* VerLinkungen in Dropdown stylen */
.hexagon-xs a {
  font-size: 2rem;
  list-style-type: none;
  text-decoration: none;
  color: var(--text);
  padding: 40px 25px;
  border-radius: 50%;
}
/* !Dropdown - Ende */

/* !Headline Start*/



/* Headline: WebDev ... */
header .left p {
  font-size: var(--h1);
  margin-left: 2%;
  /* color: var(--h1-color); */
  font-weight: 600;
}
/* Headline: ... by ... */
#by {
  margin-left: 15px;
  font-size: 16pt;
  /* color: var(--accent-green); */
}
/* Headline: ... Martin Drus */
h1 {
  margin-left: 15px;
  font-size: var(--h1);
  font-weight: 400;
  
}
/* -----------A second level pages------------ */
h2 {
  font-size: var(--h2);
  font-weight: 400;
}

/* !Headline Ende */

/* Die selbe Font für die gesamte Page */
body {
  background: linear-gradient(-45deg, #ee7752, #9e5e77, #67b5d1, #56caaf);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  font-family: "Maven Pro";
  height: 100%;
}

/* !Helper - Start*/
.pointer {
  cursor: pointer;
}
.nopointer {
  cursor: default;
}
/* Links */
.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.social-links > i {
  font-size: var(--icon-size);
  color: var(--social_media);
}
#home-icon {
  font-size: var(--home_icon-size);
  color: var(--home_icon-color);
  /* KlickFläche vergößern */
  padding: 5px;
  margin-right: 20px;
}
/* !Helper - Ende*/


/* First Hexagon - different color */
#hellow-query {
  color: var(--main-blue);
}
#hellow-query span {
  color: var(--accent-green);
  font-size: 18pt;
}

#my-pics {
  position: relative;
  left: 0px;
  top: 2px;
  width: 100%;
  clip-path: polygon(25% 2%, 75% 2%, 105% 50%, 75% 99%, 25% 99%, -5% 50%);
}

/* Verlinkung des Hexagons mit Accessibility Inhalt */
#access-link {
  text-decoration: none;
  color: var(--text);
}

/* !Sprachmenü - Start */
#world-pic {
  z-index: 100;
  position: absolute;
  top: 24px;
  left: 8px;
  width: 130px;
  height: 130px;
  background-image: url('../assets/img/earth-map-scaled.webp');
  background-size: cover;
  border-radius: 50%;
  box-shadow: -10px -10px 25px 1px #000 inset, 0 0 20px #000; 
  animation:spin 30s linear alternate infinite;
}

@keyframes spin {
  100%{background-position:100%;}
}


#lang-select-in-main-area .flags {
  position: absolute;
  transition-duration: 500ms;
}
/* Polish */
#lang-select-in-main-area .lang-select .flags:nth-child(2).show-flags {
  transform: rotate(60deg) translateY(155px) rotate(300deg);
  transition-delay: 0s;
}
/* Spanish */
#lang-select-in-main-area .lang-select .flags:nth-child(3).show-flags {
  transform: rotate(120deg) translateY(155px) rotate(240deg);
  transition-delay: 0.4s;
}
/* UK / DE */
#lang-select-in-main-area .lang-select .flags:nth-child(4).show-flags {
  transform: rotate(180deg) translateY(155px) rotate(180deg);
  transition-delay: 0.2s;
}
/* !Sprachmenü - Ende */

/* ------------------------------------------ */
/* --------------Media Queries--------------- */
/* ------------------------------------------ */
/* (FULLSCREEN: 1920 x 1080) DESKTOP - FIRST*/

/* On screens: 1900px and height: 900px or LESS (max)
don´t display big globe */
@media screen and (max-width: 1510px) {
  #hexagon-frame {
    width: 99vw;
  }

  #vanisch-10 {
    display: none;
  }
}

/* Ab wann erscheint das BürgerMenü */
/* Ab wann verschwindet die Sprachauswahl im Haupbereich */
@media screen and (min-width: 1625px) {
  .right {
    display: none;
  }
}

@media screen and (max-width: 1625px) {
  
  #vanish-4,
  #vanish-6,
  #vanish-8,
  #vanish-9,
  #vanish-11,
  #lang-select-in-main-area {
    display: none;
  }
}

/* 769 - 1279	larger Tablets in landscape, Laptops */
@media screen and (max-width: 1279px) {
  
  #vanish-9,
  #vanish-8,    
  #vanish-7,
  #vanish-6,
  #vanish-5,
  #vanish-4,
  #vanish-1,
  #vanish-0 {
    display: none;
  }
}

/* 481 - 768	larger smartphones & Tablets */
@media screen and (max-width: 768px) {
  header .right {
    width: 75px;
  }
  header .left {
    width: calc(100% - 75px);

  }
  main #hexagon-frame {
    width: 90%;
  }

  #hellow-query,
  #vanish-9,
  #vanish-8,
  #vanish-7,
  #vanish-6,
  #vanish-5,
  #vanish-4,
  #vanish-3,
  #vanish-2,
  #vanish-1,
  #vanish-0 {
    display: none;
  }

}

/* Smaller Smartphones */
@media screen and (max-width: 480px) {
  main #hexagon-frame {
    height: 1600px;
  }


  /* !Headline Start*/
  /* Headline: WebDev ... */
  header #left p {
    font-size: 24pt;
    color: var(--h1-color);
    font-weight: 600;
  }
  header .right {
    margin: 0;
  }
  /* Headline: ... by ... */
  #by {
    margin-left: 2px;
    font-size: 10pt;
    color: var(--accent-green);
  }
  /* Headline: ... Martin Drus */
  h1 {
    margin-left: 3px;
    font-size: 18pt;
    font-weight: 400;
  }
  /* Headline für Content-Pages */
  h2 {
    font-size: 20pt;
  }
  /* !Headline Ende */

  #main-pic-frame {
    margin-top: 0;
    margin-bottom: 45px;
  }

  :root {
    /* Normal-Hexagon for socialLinks */
    --right: 80px;
    --left: 80px;
    /* Big-Hexagin */
    --topB: 25px;
    --rightB: 50px;
    --bottomB: 0px;
    --leftB: 50px;
  }

  #git-query {
    margin-top: 20px;
    margin-bottom: -85px;
  }



  #dropdown-wrapper .dropdown-trigger-globe,
  #dropdown-wrapper a {
    font-size: 8pt;
  }

  #hellow-query,
  #vanish-9,
  #vanish-8,
  #vanish-7,
  #vanish-6,
  #vanish-5,
  #vanish-4,
  #vanish-3,
  #vanish-2,
  #vanish-1,
  #vanish-0 {
    display: none;
  }

  #dropdown-wrapper .hexagon-xs,
  #dropdown-wrapper .hexagon-xs::before,
  #dropdown-wrapper .hexagon-xs::after {
    width: calc(var(--x) * 0.3);
    height: calc(var(--y) * 0.3);
  }

  .second-level-dropdown.show-drop {
    left: -10%;
    transform: scale(0.85);
    justify-content: center;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Checkbox Styles */
input[type="checkbox"] {
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  background-color: #1e4a40;
  height: 25px;
  width: 50px;
  border: 5px solid var(--body);
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5), inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #fff;
  /* Toggle Indicator */
  /* Label */
  /* Checked Styles */
}
@media (prefers-color-scheme: light) {
  input[type="checkbox"] {
    box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5), inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #fff;
  }
}
@media (prefers-color-scheme: dark) {
  input[type="checkbox"] {
    box-shadow: -8px -4px 8px 0px rgba(255, 255, 255, 0.05), 8px 4px 12px 0px rgba(0, 0, 0, 0.5), inset -4px -4px 4px 0px rgba(255, 255, 255, 0.05), inset 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }
}
input[type="checkbox"]::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: var(--body);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 7px 7px 15px #c3c3c3, 9px 9px 16px rgba(189, 189, 189, 0.6);
  transition: 0.15s;
}
@media (prefers-color-scheme: light) {
  input[type="checkbox"]::before {
    box-shadow: 7px 7px 15px #c3c3c3, 9px 9px 16px rgba(189, 189, 189, 0.6);
  }
}
@media (prefers-color-scheme: dark) {
  input[type="checkbox"]::before {
    box-shadow: 9px 9px 16px rgba(109, 242, 167, 0.6), -9px -9px 16px rgba(109, 242, 167, 0.5), inset 10px 10px 15px -10px rgb(109, 242, 167), inset -10px -10px 15px -10px rgb(109, 242, 167);
  }
}
input[type="checkbox"]::after {
  content: "Off";
  position: absolute;
  font-size: 1.625rem;
  top: 3px;
  right: 5px;
  color: var(--text-secondary);
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  /* letter-spacing: 0.004em; */
}
input[type="checkbox"]:checked {
  background: #0071e3;
}
@media (prefers-color-scheme: light) {
  input[type="checkbox"]:checked {
    box-shadow: 9px 9px 16px rgba(109, 242, 167, 0.6), -9px -9px 16px rgba(109, 242, 167, 0.5), inset 10px 10px 15px -10px rgb(109, 242, 167), inset -10px -10px 15px -10px rgb(109, 242, 167);
  }
}
input[type="checkbox"]:checked::before {
  left: 150px;
  box-shadow: none;
}
input[type="checkbox"]:checked::after {
  content: "On";
  left: 5px;
  color: #f5f5f7;
}